

/* Your CSS Code here. */

body{
	margin: 0;
}

.holder{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	
	justify-content: space-between;
}
.item{
	width: 100px;
	height: 100px;
	font-size: 50px;
	
	
}

.item1{
	background-color: red;
}

.item2{
	background-color: blue;
}

.item3,.item4,.item5,.item6,.item7{
	background-color: green;
}